@font-face {
  font-family: "Michroma";
  src: url("/fonts/Michroma/Michroma-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jakarta";
  src: url("/fonts/Jakarta/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jakarta";
  src: url("/fonts/Jakarta/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/fonts/PPNeueMontreal/ppneuemontreal-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,h2,h3,h4,h5,h6 {
    @apply font-michroma -ml-1 text-heading-light dark:text-body-dark
  }

  p, a, span,li {
    @apply font-pp-neue-montreal text-base text-body-light dark:text-body-dark
  }
}

@layer utilities {
  .color-primary {
    @apply bg-background-light dark:bg-background-dark
  }
}


.nav-blur-mask {
     mask-image: linear-gradient(
    to bottom,
    black 0% 50%,
    transparent 50% 100%
  );
  }