---
import MyPortableText from "./portable-text/MyPortableText.astro";
import { urlFor } from "../sanity/lib/image";
const { heading, body, image } = Astro.props;
---

<section class="space-y-2">
  <h2>{heading}</h2>
  <MyPortableText content={body} />
</section>
