---
import MyPortableText from "./portable-text/MyPortableText.astro";

const { heading, body, image, imageAlt } = Astro.props;
---

<section class="space-y-2">
  <h2>{heading}</h2>
  <div class="columns-2 gap-5 paragraph-spacing"> <MyPortableText content={body} /></div>
</section>
