---
import MyPortableText from "./portable-text/MyPortableText.astro";

const { heading, body, image, imageAlt } = Astro.props;
---

<section class="pt-4space-y-2 md:space-y-8">
  <div class="flex flex-col md:flex-row gap-2 md:gap-5">
    <div>
      <MyPortableText content={body} />
    </div>
    <img src={image} class="object-cover md:w-2/3" alt={imageAlt} />
  </div>
</section>
