---
import MyPortableText from "./portable-text/MyPortableText";
const { heading, body, ...props } = Astro.props;
---

<section class="space-y-4" {...props}>
  <h2>{heading}</h2>
  <MyPortableText content={body} />
</section>
