---
import ButtonPrimary from "./ButtonPrimary.astro";
---

<section>
  <div
    class="bg-level-1 dark:bg-level-1-dark p-5 text-center rounded space-y-4"
  >
    <h2>Let's connect</h2>
    <p>
      I'm currently looking for a full-time opportunity where I can contribute,
      grow, and build great web experiences. If you're hiring or just want to
      chat about front-end development, feel free to reach out :)
    </p>
    <ButtonPrimary buttonHref="/contact" buttonText="Contact details" />
  </div>
</section>
