---
import { loadQuery } from "../sanity/lib/load-query";

const { data: footerContent } = await loadQuery<FooterContent>({
  query: `*[_type == "links"][0]{
    "resumeUrl": resume.asset->url
  }`,
});

const linksList = {
  email: {
    itemOne: "Email",
    itemTwo: "ronald@bessa.studio",
    href: "mailto:ronald@bessa.studio",
  },
  github: {
    itemOne: "Email",
    itemTwo: "ronald@bessa.studio",
    href: "mailto:ronald@bessa.studio",
  },
  linkedin: {
    itemOne: "Email",
    itemTwo: "ronald@bessa.studio",
    href: "mailto:ronald@bessa.studio",
  },
  cv: {
    itemOne: "CV",
    itemTwo: "ronald@bessa.studio",
    href: "mailto:ronald@bessa.studio",
  },
};
---

<footer id="contact" class="max-w-xl mx-auto space-y-4">
  <h2>Connect</h2>
  <ul class="ms-0 space-y-1">
    <!-- {
      linksList.map((listItem) => (
        <li class="flex">
          <>
            <span class="min-w-24">Email</span>
            <a rel="norefferer">ronald@bessa.studio</a>
          </>
        </li>
      ))
    } -->
    <li class="flex">
      <span class="min-w-24">Email</span><a rel="norefferer"
        >ronald@bessa.studio</a
      >
    </li>
    <li class="flex">
      <span class="min-w-24">GitHub</span><a rel="norefferer">/rnldbss</a>
    </li>
    <li class="flex">
      <span class="min-w-24">LinkedIn</span><a rel="norefferer"
        >/in/ronaldbessa</a
      >
    </li>
    <li class="flex">
      <span class="min-w-24">CV</span><a
        rel="norefferer"
        download
        target="_blank"
        href={footerContent.resumeUrl}>download</a
      >
    </li>
  </ul>
  <small class="block">Copyright Ronald Bessa</small>
</footer>
