<footer class="max-w-2xl mx-auto space-y-4">
  <h2>Connect</h2>
  <ul class="ms-0 space-y-1">
    <li class="flex">
      <span class="min-w-24">Email</span><a rel="norefferer"
        >ronald@bessa.studio</a
      >
    </li>
    <li class="flex">
      <span class="min-w-24">GitHub</span><a rel="norefferer">/rnldbss</a>
    </li>
    <li class="flex">
      <span class="min-w-24">LinkedIn</span><a rel="norefferer"
        >/in/ronaldbessa</a
      >
    </li>
    <li class="flex">
      <span class="min-w-24">CV</span><a rel="norefferer">download</a>
    </li>
  </ul>
  <small class="block">Copywrite Ronald Bessa</small>
</footer>
