---
import ForkCounter from "./ForkCounter.astro";
---

<footer id="contact" class="max-w-xl mx-auto pb-2 space-y-16 mt-auto">
  <div class="flex flex-col items-center justify-between gap-0.5">
    <small class="block">Designed & Built by Ronald Bessa</small>
    <small class="block pb-1">Need a website? <a class="text-xs hover:text-accent-primary" href="https://bessa.studio">https://bessa.studio</a></small>
    <small class="block">Feel free to fork and use this as your portfolio</small
    >
    <ForkCounter />
  </div>
</footer>
