---
import Nav from "../components/Nav.astro";
import ThemeSwitcherButton from "../components/ThemeSwitcherButton.astro";
---

<header
  class="z-50 fixed py-1 inset-0 px-3 w-full bg-[#F2F3F4] dark:bg-level-1-dark border-b border-level-5/15 h-max"
>
  <div class="max-w-2xl mx-auto flex items-center gap-5">
    <Nav />
    <ThemeSwitcherButton />
  </div>
</header>
