---
import Nav from "../components/Nav.astro";
import NavMobile from "../components/NavMobile.astro";
import ThemeSwitcherButton from "../components/ThemeSwitcherButton.astro";
---

<header class="z-50 fixed py-1 inset-0 w-full bg-level-1 border-b border-level-5/15 h-max">
  <div class="max-w-4xl mx-auto flex items-center gap-5"> 
    <Nav />
    <ThemeSwitcherButton />
  </div>
</header>
