---
import Nav from "../components/Nav.astro";
import ThemeSwitcherButton from "../components/ThemeSwitcherButton.astro";
---

<header
  class="z-50 fixed py-1.5 px-4 inset-0 w-full bg-level-1 dark:bg-level-1-dark backdrop-blur-md h-max"
>
  <div class="max-w-xl mx-auto flex items-center">
    <Nav />
    <ThemeSwitcherButton />
  </div>
</header>
