<section class="h-screen grid grid-cols-6 grid-rows-5">
  <div class="space-y-4 row-start-1 row-span-3 mt-auto col-span-4">
    <h1 class="text-4xl">
      Frontend developer <br />Building things for the web
    </h1>
    <p class="max-w-md">
      I’m a software engineer specializing in building (and occasionally
      designing) exceptional digital experiences. Currently, I’m focused on
      building accessible, human-centered products at Upstatement.
    </p>
  </div>
  <h2 class="text-8xl row-start-4 row-span-2 col-span-full mt-auto">
    Ronald Bessa
  </h2>
  <div class="row-start-4 mb-auto h-1 bg-accent col-span-full"></div>
</section>
