<nav class="w-full">
  <ul class="gap-5 flex items-center ml-0">
    <li class="sm:mr-auto">
      <a href="/" class="font-cal text-lg">RB</a>
    </li>

    <li class="ml-auto sm:ml-0"><a href="/">Home</a></li>
    <li><a href="/#portfolio">Portfolio</a></li>
    <li class="mr-auto sm:mr-0"><a href="/#contact">Contact</a></li>
  </ul>
</nav>
