<nav class="w-full">
  <ul class="gap-5 flex items-center">
    <li class="mr-auto"><a href="/" class="font-cal text-lg">Ronald Bessa</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/#portfolio">Portfolio</a></li>
    <li><a href="/#contact">Contact</a></li>
  </ul>
</nav>
