<nav class="sm:hidden">
  <ul id="menu">
    <li><a href="/#about">About</a></li>
    <li><a href="/#portfolio">Portfolio</a></li>
    <li><a href="/#contact">Contact</a></li>
  </ul>
  <diV id="menu-toggle" class="w-20 aspect-square bg-red-600"> </diV>
</nav>
<script>
  const menu = document.getElementById("menu");
  const menuToggle = document.getElementById("menu-toggle");
  if (menu && menuToggle) {
    menuToggle.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  }
</script>
