---

---

<ul>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
  <li class="flex items-center justify-between py-1 border-b-2 border-primary">
    <div class="flex gap-5 items-center">
      <span>Project name</span><span>2020</span>
    </div>
    <span>very small description of the project</span>
    <a>link</a>
  </li>
</ul>
