---
import { Image } from "astro:assets";
import imageOne from "../assets/images/projects/shanti-1.png";
---

<div class="flex gap-5 max-h-[80vh] overflow-hidden">
  <div><Image src={imageOne} alt="test" class="object-cover" /></div>
  <div>
    <h3 class="text-2xl">Shanti Toya</h3>
    <p>
      My approach was to ensure that Shanti Toya’s new website was both
      beautiful and highly functional. I maintained all existing URLs to
      preserve their SEO rankings. I designed a clear, intuitive layout and
      structured navigation, leading to improved user experience. Plus, the
      professional video on the homepage perfectly captures the essence of
      Shanti Toya’s space.
    </p>
    <ul>
      <li></li>
    </ul>
  </div>
</div>
