---
import MyPortableText from "./portable-text/MyPortableText";
import TwoItemsList from "./TwoItemsList.astro";

const { heading, body, listItems, ...props } = Astro.props;
---

<section class="space-y-2" {...props}>
  <h2>{heading}</h2>
  <MyPortableText content={body} />
  <TwoItemsList containerStyles="sm:columns-2 gap-x-5" listItems={listItems} />
</section>
