<section class="pt-32 space-y-8">
  <h2 class="text-7xl">My Skills</h2>
  <div class="w-1/2 space-y-4">
    <p>
      Through my studies, I've gained a solid understanding of computer science
      and web development concepts, and have dedicated a lot of my free time to
      apply these concepts to real-world scenarios and applications.
    </p>
    <ul class="flex flex-col">
      <li
        class="border-t border-b border-primary py-1 flex items-center justify-between"
      >
        <span>Javascript</span>
        <span class="text-body-lighter">web development</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>React</span>
        <span class="text-body-lighter">web development</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>GraphQL</span>
        <span class="text-body-lighter">web development</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>Typescript</span>
        <span class="text-body-lighter">web development</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>Astro</span>
        <span class="text-body-lighter">web development</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>HTML & CSS</span>
        <span class="text-body-lighter">web development</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>Tailwind CSS</span>
        <span class="text-body-lighter">web development</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>Sanity CMS</span>
        <span class="text-body-lighter">content management</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>Git</span>
        <span class="text-body-lighter">web development</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>Figma</span>
        <span class="text-body-lighter">UI/UX design</span>
      </li>
      <li
        class="border-b border-primary py-1 flex items-center justify-between"
      >
        <span>Gatsby.js</span>
        <span class="text-body-lighter">web development</span>
      </li>
    </ul>
  </div>
</section>
