---
import MyPortableText from "./portable-text/MyPortableText.astro";
import TwoItemsList from "./TwoItemsList.astro";

const { heading, body, listItems } = Astro.props;
---

<section class="pt-32 space-y-8">
  <h2 class="text-7xl">{heading}</h2>
  <div class="space-y-4">
    <div class="max-w-md cou">
      <MyPortableText content={body} />
    </div>
    <TwoItemsList containerStyles="columns-2" listItems={listItems} />
  </div>
</section>
