---

---

<button
  class="h-5 aspect-square"
  type="button"
  id="theme-selector"
  aria-label="Toggle theme"
>
  <span class="sr-only"
    >Enable <span class="dark:hidden">light</span><span
      class="hidden dark:inline">dark</span
    > mode</span
  >
  <div class="h-full w-full aspect-square bg-black dark:hidden"></div>
  <div class="h-full w-full aspect-square bg-yellow-500 hidden dark:block">
  </div>
</button>

<script>
  document.getElementById("theme-selector")?.addEventListener("click", () => {
    const currentTheme = localStorage.theme === "dark" ? "light" : "dark";
    localStorage.theme = currentTheme;
    document.documentElement.classList.toggle("dark", currentTheme === "dark");
  });
</script>
