---
interface TechStackItem {
  itemOne: string;
  itemTwo: string;
}

interface Props {
  listItems: TechStackItem[];
  containerStyles: string;
}
const { listItems, containerStyles } = Astro.props as Props;
---

<ul class={`list-container ${containerStyles}`}>
  {
    listItems.map((item) => (
      <li>
        <span>{item.itemOne}</span>
        <span class="text-body-lighter">{item.itemTwo}</span>
      </li>
    ))
  }
</ul>
