---
interface TechStackItem {
  itemOne: string;
  itemTwo: string;
}

interface Props {
  listItems: TechStackItem[];
  containerStyles: string;
}
const { listItems, containerStyles } = Astro.props as Props;
---

<ul class={`${containerStyles}`}>
  {
    listItems.map((item) => (
      <li class="border-b border-accent-primary py-1 flex items-center justify-between">
        <span>{item.itemOne}</span>
        <span class="text-sm opacity-60">{item.itemTwo}</span>
      </li>
    ))
  }
</ul>
