---
interface TechStackItem {
  itemOne: string;
  itemTwo: string;
}

interface Props {
  listItems: TechStackItem[];
  containerStyles: string;
}
const { listItems, containerStyles } = Astro.props as Props;
---

<ul class={`ms-0 ${containerStyles}`}>
  {
    listItems.map((item) => (
      <li class="border-b border-accent-primary dark:border-accent-primary/50 py-1.5 flex items-center justify-between last:border-0 sm:last:border-b">
        <span>{item.itemOne}</span>
        <span class="text-sm opacity-60">{item.itemTwo}</span>
      </li>
    ))
  }
</ul>
