---
import "../styles/main.css";
import ThemeSwitcherScript from "../components/scripts/theme-swicther-script.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Seo from "../components/Seo.astro";
export type props = {
  title: string;
};

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <Seo seo={seo} />
    <ThemeSwitcherScript />
  </head>
  <body
    class="bg-level-0 dark:bg-level-0-dark px-3 md:px-10 relative min-h-screen flex flex-col"
  >
    <Header />
    <main class="max-w-xl mx-auto w-full"><slot /></main>

    <Footer />
  </body>
</html>
