---
import "../styles/main.css";
import ThemeSwitcherScript from "../components/scripts/theme-swicther-script.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Seo from "../components/Seo.astro";
export type props = {
  title: string;
};

const siteUrl = "https://bessa.dev";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <Seo siteUrl={siteUrl} />
    <ThemeSwitcherScript />
  </head>
  <body class="color-level-0 dark:bg-level-0-dark px-3 md:px-10 relative">
    <Header />
    <main class="max-w-2xl mx-auto"><slot /></main>

    <Footer />
  </body>
</html>
