---
import Layout from "../../layouts/Layout.astro";
import { loadQuery } from "../../sanity/lib/load-query";
import ProjectsGrid from "../../components/ProjectsGrid";
import CallToAction from "../../components/CallToAction.astro";


const { data: projectsPageData } = await loadQuery({
  query: `*[_type == "projectsPage"][0]`,

});

// Fetch all projects for listing
const { data: allProjects } = await loadQuery({
  query: `*[_type == "project"] | order(orderRank) {
    _id,
    title,
    cardDescription,
    slug,
    tagLine,
    linkLabel,
    mainImage,
      mainVideo {
      videoWebm {
        asset->{
          url
        }
      },
      videoMp4 {
        asset->{
          url
        }
      }
    }
  }`,
});
---

<Layout seo={projectsPageData.seo}>
  <section class="pt-20 space-y-8">
    <div class="space-y-4">
      <h1>{projectsPageData.heading}</h1>
    </div>

    <ProjectsGrid client:load projectsList={allProjects} />
  </section>
  <section>
    <CallToAction/>
  </section>
</Layout>
